<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd ">
  
   <!-- 加载数据库连接信息的，不交给mybatis管理，交由spring维护 -->
   <context:property-placeholder location="classpath:db.properties"/>
   
   <!-- 数据源 -->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxPoolSize" value="20"/>
        <property name="minPoolSize" value="5"/>
    </bean>
   
   <!-- Mybatis核心工厂类    -->
   <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="configLocation" value="classpath:SqlMapConfig.xml"/>
      <property name="dataSource" ref="dataSource"></property>
      <property name="mapperLocations" value="classpath:mapping/*.xml"/>
<!--
       <property name="plugins">
           <array>
               <bean class="com.github.pagehelper.PageInterceptor">
                   <property name="properties">
                       <value>

                       </value>
                   </property>
               </bean>
           </array>
       </property>-->


   </bean>
   
   <!-- mybatis接口扫描目录/xml文件扫描路径 -->
    <!--使用通用mapper,必须更改扫描器-->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.usercore.mapper"/>
    </bean>
   
   <!-- 配置扫描注解：扫描加了@Component注解的service类-->
   <context:component-scan
         base-package="com.usercore.service">
   </context:component-scan>
</beans>





